<footer id="footer">
    <div class="container">

{{ if isset .Site.Params "clients" }}
{{ if .Site.Params.sponsors.enable }}
{{ if gt (len .Site.Data.clients) 0 }}




        <div class="row"> 
                <h4>Patronat honorowy</h4>
                <div class = "col-md-12 col-sm-12" align = "left">
                  <ul>
                      {{ range .Site.Data.clients.patrons }}
                      <li style="list-style-type: none; float: left; width: 211px; min-height: 120px; max-width: auto; padding-bottom: 60px;" title="{{ .name }}" class = "img-responsive">
                          {{ if .url }}
                            <a href="{{ .url }}" target="_blank">
                              <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                            </a>
                          {{ else }}
                            <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                          {{ end }}
                      </li>
                      {{ end }}
                  </ul>
                </div>  
        </div>

        <div class="row"> 
                <h4>Współorganizatorzy</h4>
                <div class = "col-md-12 col-sm-12" align = "left">
                  <ul>
                      {{ range .Site.Data.clients.patrons2 }}
                      <li style="list-style-type: none; float: left; width: 211px; min-height: 120px; max-width: auto; padding-bottom: 60px; padding-right: 30px;" title="{{ .name }}" class = "img-responsive">
                          {{ if .url }}
                            <a href="{{ .url }}" target="_blank">
                              <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                            </a>
                          {{ else }}
                            <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                          {{ end }}
                      </li>
                      {{ end }}
                  </ul>
                </div>  
        </div>

        <div class="row"> 
			
		        <div class="row"> 
                <h4>Wspierają nas</h4>
                <div class = "col-md-12 col-sm-12" align = "left">
                  <ul>
                      {{ range .Site.Data.clients.platinum }}
                      <li style="list-style-type: none; float: left; width: 300px; min-height: 120px; max-width: auto; padding-bottom: 60px;padding-right: 30px;" title="{{ .name }}" class = "img-responsive">
                          {{ if .url }}
                            <a href="{{ .url }}" target="_blank">
                              <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                            </a>
                          {{ else }}
                            <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                          {{ end }}
                      </li>
                      {{ end }}
                  </ul>
                </div>  
        </div>
	        <div class="row"> 
                <h4>Patronat medialny</h4>
                <div class = "col-md-12 col-sm-12" align = "left">
                  <ul>
                      {{ range .Site.Data.clients.patrons }}
                      <li style="list-style-type: none; float: left; width: 211px; min-height: 120px; max-width: auto; padding-bottom: 60px;" title="{{ .name }}" class = "img-responsive">
                          {{ if .url }}
                            <a href="{{ .url }}" target="_blank">
                              <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                            </a>
                          {{ else }}
                            <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                          {{ end }}
                      </li>
                      {{ end }}
                  </ul>
                </div>  
        </div>

        <div class="row"> 
	             
                            
        </div>
        
        

    {{ end }}
    {{ end }}
    {{ end }}
    
    </div>

</footer>

<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<div id="copyright">
    <div class="container">
        <div class="col-md-4 col-sm-6">
        <!-- <div class="col&#45;md&#45;12"> -->
          {{ if isset .Site.Params "copyright" }}
          <p class="pull-left">{{ .Site.Params.copyright | safeHTML }}</p>
            {{ end }}
        </div>
        <div class="col-md-4 col-sm-6">
            {{ i18n "templateBy" }} <a href="http://bootstrapious.com/free-templates">Bootstrapious</a>.
            <!-- Not removing this link is part of the licence conditions of the template. Thanks for understanding :) -->

            {{ i18n "portedBy" }} <a href="https://github.com/devcows/hugo-universal-theme">DevCows</a>
        </div>
    </div>
</div>
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
